* {
    font-family: 'Ubuntu', sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #FFF;
}

hr {
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }